<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672580172611-unqn0rcj5rhish6kc9pf93svpqui1vc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672580172611-unqn0rcj5rhish6kc9pf93svpqui1vc8</string>
	<key>API_KEY</key>
	<string>AIzaSyCTbBy8m0IhG6Eb6RfGDP_yL04uZiZsDdE</string>
	<key>GCM_SENDER_ID</key>
	<string>672580172611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.exoplatform.exo-snapshot</string>
	<key>PROJECT_ID</key>
	<string>exo-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>exo-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672580172611:ios:426ffc6c8900ed437c8df6</string>
	<key>DATABASE_URL</key>
	<string>https://exo-mobile.firebaseio.com</string>
</dict>
</plist>