# eXo iOS application continuous deployment to Appaloosa.

# Required Github secrets:

# - SSH_KEY: Private SSH Key to allow accessing to a private Github repository.
# - KNOWN_HOSTS: Known hosts containing Github servers fingerprints. Can be taken from existing one or Generate a one https://github.community/t/please-provide-ssh-known-hosts-for-gh-services-in-actions/16164/3.
# - MATCH_PASSWORD: Certificate's password
# - KEYCHAIN_PASSWORD: Keychain Password (Generate a random secure password)
# - MATCH_KEYCHAIN_NAME: Keychain Name (Generate a random name)
# - API_TOKEN_APPALOOSA: Appaloosa Store api token
# - STORE_ID_APPALOOSA: Appaloosa Store id

name: eXo iOS Snapshot Appaloosa CI/CD

on:
  push:
    branches: [develop, acceptance]
jobs:
  deploy:
    runs-on: macos-10.15
    # Skip deployment triggered by a rebase action or technical commits
    if: "!contains(github.event.pusher.name, 'exo-swf')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Use SSH Key to gather certificate from a private Github repository. Use a dedicated on is recommended.
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      # Setup Ruby 2.6 (2.7 not yet compatible with bundler)
      - name: Setup ruby 2.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      # Install Bundler and dependencies gems
      - name: Install bundler and dependencies
        run: gem install bundler && bundle install
      # Needed to install these packages for fastlane to generate badges
      - name: Install Homebrew badge packages
        run: brew install librsvg imagemagick graphicsmagick
      # Ensure installing latest version of fastlane
      - name: Upgrade fastlane
        run: bundle update fastlane
      # Gather certificates from Github repository
      - name: Synchonize Certificates
        uses: maierj/fastlane-action@v2.0.1
        with:
          lane: "ci_sync_certificates"
        env:
          BUNDLE_ID: org.exoplatform.exo-snapshot
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          MATCH_KEYCHAIN_NAME: ${{ secrets.KEYCHAIN_NAME }}
      - name: Generate new version
        env:
          TAG_PREFIX: "6.2-DEV"
        run: |
          git config --global user.email "exo-swf@exoplatform.com"
          git config --global user.name "eXo Software Factory"
          git fetch --tags
          CURRENT_TAG=$(git tag -l | grep ${TAG_PREFIX} | tail -n 1)
          if [ -z "${CURRENT_TAG}" ]; then
            echo "NEW_TAG=${TAG_PREFIX}01" >> $GITHUB_ENV
            INDEX="01"
          else 
            INDEX=$(($(echo $CURRENT_TAG | sed "s|.*${TAG_PREFIX}||")))
            ((INDEX++))
            [ "${INDEX}" -lt "10" ] && INDEX="0${INDEX}"
            echo "NEW_TAG=${TAG_PREFIX}${INDEX}" >> $GITHUB_ENV
          fi
          echo "INDEX=${INDEX}" >> $GITHUB_ENV
      - name: Set iOS Application version
        run: |
          echo "EXO_APP_ENVIRONMENT=${NEW_TAG}" >> $GITHUB_ENV
          xcrun agvtool new-version -all ${INDEX}
      # Deploy eXo iOS bundle to appalossa store
      - name: "Deploy eXo Snapshot to appaloosa"
        uses: maierj/fastlane-action@v2.0.1
        with:
          lane: "build_snapshot"
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          APPALOOSA_EXO_API_TOKEN: ${{ secrets.API_TOKEN_APPALOOSA }}
          APPALOOSA_EXO_STORE_ID: ${{ secrets.STORE_ID_APPALOOSA }}
      - name: Create tag and Push it to repository
        run: git tag ${NEW_TAG} -m '' && git push origin ${NEW_TAG}
